@keyframes zoom {
  0%   { background-size: 87% auto; }
  5%   { background-size: 88% auto; }
  35% { background-size: 92% auto; }
  65% { background-size: 92% auto; }
  95% { background-size: 88% auto; }
  100% { background-size: 87% auto; }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
  background-image: url('./imgs/11796_Fotor.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom right;
  animation-timing-function: ease-in-out;
  animation: zoom 25s linear infinite;
  height: 100vh;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --logo-font: 'Days One', sans-serif;
  --content-font: 'Kanit', sans-serif;
}